<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
    <link href="style.css" rel="stylesheet" />
</head>
<body>
<div id="main" class='container'>
    <div id="legend">
        <div id="screen_content"></div>
        <div id="scatterplot"></div>
    </div>
    <div id="map"></div>
</div>
<div id="tooltip"></div>
<div id="screens">
    <div id="screen_1">
        <p>In may I completed my second marathon. I ran 42K on a sunny day in Copenhagen.</p>
        <p>This is how I trained to complete it.</p>
    </div>
    <div id="screen_2">
        <p>I started rather slow. I ran only around 6-7 km per run during my first week. First run that as longer than 10 km was during second week of training.</p>
    </div>
    <div id="screen_3">
        <p>Then I started interval trainings that were tough. I ran familiar routes this time and focusing on improving my tempo.</p>
        <p>And then my toughest run happened: 20K along the sea during a storm. That was extreme!</p>
    </div>
    <div id="screen_4">
        <p>I gradually increased my weekly distance and intervals. I ran 30+ km fot two consecutive days, and finally I broke 25 km. </p>
    </div>
    <div id="screen_5">
        <p>Finally the 30 km run happened, which I survived. </p>
    </div>
    <div id="screen_6">
        <p>Then I had a break and decided to take it easy. Also I started running slightly different routes.</p>
    </div>
    <div id="screen_8">
        <p>Last couple of weeks before the marathon. No longer runs and an off-site 13 km in Malmo with a friend.</p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="helpers.js"></script>
<script src="scatterplot.js"></script>
<script src="screens.js"></script>
<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiYmFyc3Vrb3YiLCJhIjoiTGE4SjZUUSJ9.GlJoUBEGTTNJVltire9ZXA';
    var map = L.mapbox.map('map', 'barsukov.ef038316', {zoomControl:false })
            .setView([55.636098, 12.568337], 13);

    map._initPathRoot();

    var svg = d3.select("#map").select("svg"),
            g = svg.append("g");
    var margin_scplt = {top: 5, right: 0, bottom: 25, left: 20}
    var width = 400 - margin_scplt.left - margin_scplt.right,
            height = 400 -  margin_scplt.top -  margin_scplt.bottom;
    console.log(margin_scplt)
    var scatterplot = d3.select('#scatterplot').append('svg')
            .attr("width", width + margin_scplt['left'] + margin_scplt['right'])
            .attr("height", height + margin_scplt['top'] + margin_scplt['bottom'])
            .append("g")
            .attr("transform", "translate(" + margin_scplt.left + "," + margin_scplt.top + ")");

    var x_scale_func = d3.scale.linear()
            .range([0, width])
            .domain([0,45]);

    var y_scale_func = d3.scale.linear()
            .range([height, 0])
            .domain([9, 11.5]);

    var x_axis = d3.svg.axis()
            .scale(x_scale_func)
            .orient("bottom");

    var y_axis = d3.svg.axis()
            .scale(y_scale_func)
            .orient("left");

    scatterplot.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(" + margin_scplt.left + "," + (height + margin_scplt.top) + ")")
            .call(x_axis)

    scatterplot.append("g")
            .attr("class", "y axis")
            .call(y_axis)
            .attr("transform", "translate(" + margin_scplt.left + "," + margin_scplt.top + ")")

    var path = d3.geo.path().projection(function(e) {
        var point = map.latLngToLayerPoint(new L.LatLng(e[1],e[0]));
        return [point.x,point.y];
    });
    SCREEN_NUMBER = 1;
    MAX_SCREENS = 8
    $(document).ready(function(){
         window["show_screen_" + SCREEN_NUMBER]()
        $('body' ).click(function() {
            if(SCREEN_NUMBER < MAX_SCREENS){
                SCREEN_NUMBER +=1
                window["show_screen_" + SCREEN_NUMBER]()
            }

        });
        $(document).keydown(function(e) {
            switch(e.which) {
                case 37:
                    if(SCREEN_NUMBER > 1){
                        SCREEN_NUMBER = SCREEN_NUMBER - 1
                        window["show_screen_" + SCREEN_NUMBER]()
                    }
                    e.preventDefault();
                    break;
                case 39:
                    if(SCREEN_NUMBER < MAX_SCREENS){
                        SCREEN_NUMBER = SCREEN_NUMBER + 1
                        window["show_screen_" + SCREEN_NUMBER]()
                    }
                    e.preventDefault();
                    break;
                default: return
            }
        });

    })
</script>
</body>
</html>


