<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
    <link href="style.css" rel="stylesheet" />
</head>
<body>
<div id="main" class='container'>
    <div id="legend">
        <div id="logo" >
            <ul>
                <li><a href="http://barsukov.net">Б</a></li>
                <li><a href="mailto:nikita@barsukov.net">@</a></li>
                <li class="h1"><h1>Preparing to Copenhagen Marathon</h1></li>
            </ul>

        </div>
        <div id="screen_content"></div>
        <div id="scatterplot"></div>
    </div>
    <progress max="100" value="0"></progress>
    <div id="map"></div>

</div>
<div id="tooltip"></div>
<div id="screens">
    <div id="screen_1">
        <p>In May 2015 I completed my second marathon. I ran 42 km on a sunny day in Copenhagen.</p>
        <p>It was a fun run with lots of cheering and high fives.</p>
        <p>This is how I trained to complete it.</p>
    </div>
    <div id="screen_2">
        <p>I started rather slow. I ran only around 6-7 km per run during my first week.  I ran familiar routes and focused on improving my tempo.</p>
        <p>First run that as longer than 10 km was during second week of training.</p>
    </div>
    <div id="screen_3">
        <p>And then my toughest run happened: 20 km along the sea during a storm. </p>
        <p>That was extremely hard, but I did not have any other options but to finish the route since I ran in a remote area far from any public transportation.</p>
    </div>
    <div id="screen_4">
        <p>I continued building up the distance. Longer runs lasting 1,5 hours or more stopped being a hard thing for me.</p>
        <p>Tough thing I did was me running 30+ km for two consecutive days, and finally I broke 25 km on a single run. </p>
    </div>
    <div id="screen_5">
        <p>I started running in new places: Slusseholmen, a new area in Copenhagen built in Venetian style and narrow dirt paths in large field called Amager Fælled.</p>
        <p>Finally the 30 km run happened, which I survived.</p>
    </div>
    <div id="screen_6">
        <p>Then I stopped running for a week, and after that I was back on track. I kept running in Slusseholmen and along the sea.</p>
        <p>I also managed to reach fast speed on longer runs and broke personal record on 15 km. </p>
    </div>
    <div id="screen_7">
        <p>Last couple of weeks before the marathon. My runs were calm and rather short, </p>
        <p>longest was a bit over 13 km in Malmö with a good friend and a sauna after.</p>
    </div>
    <div id="screen_8">
        <p>Finally I ran marathon distance on 24th of May. I completed it slower than expected.</p>
        <p>But I completed it all the same and slightly faster than my first marathon in Stockholm a year ago.</p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="map.js"></script>
<script src="helpers.js"></script>
<script src="scatterplot.js"></script>
<script src="screens.js"></script>
<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiYmFyc3Vrb3YiLCJhIjoiTGE4SjZUUSJ9.GlJoUBEGTTNJVltire9ZXA';
    var map = L.mapbox.map('map', 'barsukov.ef038316', {zoomControl:false })
            .setView([55.636098, 12.568337], 13);

    map._initPathRoot();

    var svg = d3.select("#map").select("svg"),
            g = svg.append("g");
    var scatterplot = d3.select('#scatterplot').append('svg')
            .attr("width", width + margin_scplt['left'] + margin_scplt['right'])
            .attr("height", height + margin_scplt['top'] + margin_scplt['bottom'])
            .append("g")
            .attr("transform", "translate(" + margin_scplt.left + "," + margin_scplt.top + ")");

    scatterplot.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(" + margin_scplt.left + "," + (height + margin_scplt.top) + ")")
            .call(x_axis)

    scatterplot.append("g")
            .attr("class", "y axis")
            .call(y_axis)
            .attr("transform", "translate(" + margin_scplt.left + "," + margin_scplt.top + ")")

    var path = d3.geo.path().projection(function(e) {
        var point = map.latLngToLayerPoint(new L.LatLng(e[1],e[0]));
        return [point.x,point.y];
    });
    SCREEN_NUMBER = 1;
    MAX_SCREENS = 8
    $(document).ready(function(){
         window["show_screen_" + SCREEN_NUMBER]();
        $("progress").val(100 * SCREEN_NUMBER / MAX_SCREENS);
        $(document).keydown(function(e) {
            switch(e.which) {
                case 37:
                    if(SCREEN_NUMBER > 1){
                        SCREEN_NUMBER = SCREEN_NUMBER - 1;
                        window["show_screen_" + SCREEN_NUMBER]();
                        $("progress").val(100 * SCREEN_NUMBER / MAX_SCREENS);
                    }
                    e.preventDefault();
                    break;
                case 39:
                    if(SCREEN_NUMBER < MAX_SCREENS){
                        SCREEN_NUMBER = SCREEN_NUMBER + 1;
                        window["show_screen_" + SCREEN_NUMBER]();
                        $("progress").val(100 * SCREEN_NUMBER / MAX_SCREENS);
                    }
                    e.preventDefault();
                    break;
                default: return;
            }
        });

    })
</script>
</body>
</html>


