body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.tick text{
    font-size: 8pt;
}
.route {
    fill:none;
    stroke: red;
    stroke-width: 2px;
}
#tooltip {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    border: 2px solid gray;
    z-index: 1000;
    max-width: 200px;
    padding: 3px;
}
#legend {
    top: 5%;
    left: 3%;
    /*transform: translate(-80%, -80%);*/
    width: 420px;
    position: absolute;
    z-index: 1000;
}
#screens, #scatterplot {
    display: none
}

#screen_content, #scatterplot {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
    background-color: white;

}

#screen_content {
    height: 150px;
}